:root {
  --main-bg-color: #fff;
  --sub-bg-color: #1a1a1a;
  --main-text-color: #000;
  --sub-text-color: #fff;
  --inactive: #818181;
  --success: #bee3be;
  --link-color: blue;
  --accent-color: #ff0000;

  --first-brand-color: #e8e8e8;
  --second-brand-color: #3b3ad4;
  --third-brand-color: red;

  --main-font: 'Open Sans';
  --title-font: 'Open Sans Bold';
  --main-title-font: 'Open Sans ExtraBold';

  font-size: 62.5%;
}
